@{
    ViewData["Title"] = "Mensagem";
}

           <p> @ViewBag.contato_nome</p>
           <p> @ViewBag.contato_telefone</p>
           <p> @ViewBag.contato_email</p>
           <p> @ViewBag.contato_selecao</p>
           <p> @ViewBag.contato_descricao</p>