@{
    ViewData["Title"] = "Produtos";
}
<section class="produtos1">
            <h2>Criação de Sites</h2>
            <p>Construimos sites para profissionais liberais, micros, médias ou grandes empresas. Possuímos desde planos básicos até personalizados.</p>  
                    
                <div class="um_terco">
                    <h3>Site Institucional</h3>
                    <p>Ter um site institucional é uma ótima maneira de sua empresa se tornar cada vez mais conhecida. Possibilita expor seus produtos e serviços na internet, aumentando seus clientes e consequentemente seus lucros.</p>
                </div><!--primeira div um_terco--> 

                <div class="um_terco">
                    <h3>E-commerce</h3>
                    <p>Loja virtual completa e profissional, com diversas opções de pagamento e frete com estoque.</p>
                </div><!--segunda div um_terco-->

                <div class="um_terco">
                    <h3>Blog</h3>
                    <p>O blog é uma ferramenta que ajuda uma empresa a ganhar autoridade, aparecer no topo dos buscadores e, é claro, vender mais.</p>
                </div><!--terceira div um_terco-->
        </section><!--produtos1-->  

        <section class="produtos2">
            <h2>Cursos Online</h2>
            <p>Descrição de Cursos Online</p>            
                <div class="um_terco">
                    <h3>Banco de dados</h3>
                    <iframe  width="320" height="180" src="https://www.youtube.com/embed/squ3q36kJWs?autoplay=1&loop=1&autopause=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    <p>Descrição do curso</p>
                </div><!--primeira div um_terco--> 
 
                <div class="um_terco">
                    <h3>Asp.Net MVC</h3>
                    <iframe  width="320" height="180" src="https://www.youtube.com/embed/loh785gqJxQ?autoplay=1&loop=1&autopause=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    <p>Descrição do curso</p>
                </div><!--segunda div um_terco-->                

                <div class="um_terco">
                    <h3>Front-end</h3>
                    <iframe  width="320" height="180" src="https://www.youtube.com/embed/squ3q36kJWs?autoplay=1&loop=1&autopause=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    <p>Descrição do curso</p>
                </div><!--terceira div um_terco-->                               
        </section><!--produtos2--> 