@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    <img src="/images/logo.png" alt=”some text” width=300 height=200>
    <h1 class="display-4">Bem-Vindo ao Sistema!</h1>
    <p><a href="Home/Formulario">Clique aqui para fazer seu pedido</a>.</p>
</div>
