<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Usuario: </label>
    <input type="text" id="usuario" name="usuario" /><br />
    <label>Senha: </label>
    <input type="text" id="senha" name="senha" /><br />
    <input type="submit" value="Login" /><br />
    <label>@ViewBag.Mensagem</label>
}