@model List<Pedido>

<h2>Lista de Pedidos</h2>
<table>
    <thead>
        <th>Id</th>
        <th>Data</th>
        <th>Clinica (id)</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (Pedido item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.DataPedido</td>
                <td>@item.clinica.Id</td>
                <td><a href="/Pedido/Detalhe?id=@item.Id">Detalhes</a></td>
            </tr>
        }
    </tbody>
</table>